.desc{
  text-align: center;
}

header{
  background: rgb(70,70,70);
  background: linear-gradient(287deg, rgba(70,70,70,1) 30%, rgba(209,209,209,1) 100%);
}

a{
  text-decoration: none;
  font-size: 1.1rem;
}
h1{
background: -webkit-linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

img:hover{
  filter: saturate(1.5);
  cursor: pointer;
}

.card{

}
