<div class="welcome">
<h1 class="welcome-text">Welcome to</h1>
<img src="https://assets.abfrlcdn.com/img/app/brands/pe/pe_logo.png" alt="">
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 col-lg-6 col-sm-2">
      <div class="card">
        <div class="text-center">
          <h1>Login</h1>
          <h6>Please enter email and password!</h6>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" style="color: black;">Email address</label>
            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text" style="color: black;">We'll never share your email with anyone else.</div>
            <span class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">*Email Id is required</span>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" style="color: black;">Password</label>
            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
            <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">*Password is required</span>
          </div>

          <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary" routerLink="/products">Login</button>

        </form>
        <a style="color: white; margin-top: 10px;" href="products/signupPage" style="color: black;">New User? Click to signup!</a>
      </div>
    </div>
  </div>
</div>
