<div class="welcome">
<h1 class="welcome-text">Welcome to</h1>
<img src="https://assets.abfrlcdn.com/img/app/brands/pe/pe_logo.png" alt="">
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Sign up</h1>
          <h6>Register yourself!!</h6>
        </div>
        <form (ngSubmit)="signUp()">

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" style="color: black;">Full Name</label>
            <input formControlName="fullname" type="text" class="form-control" id="exampleInputPassword1" placeholder="Full name">
            <span class="text-danger" *ngIf="signupForm.controls['fullname'].dirty && signupForm.hasError('required','fullname')">*Fullname is required</span>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" style="color: black;">Mobile Number</label>
            <input formControlName="mobile" type="number" class="form-control" id="exampleInputPassword1" placeholder="Mobile no">
            <span class="text-danger" *ngIf="signupForm.controls['mobile'].dirty && signupForm.hasError('required','mobile')">*Mobile is required</span>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" style="color: black;">Email address</label>
            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email">
            <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">*Email is required</span>
            <div id="emailHelp" class="form-text" style="color: black;">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" style="color: black;">Password</label>
            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="password">
            <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">*Password is required</span>
          </div>

          <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary">Sign Up</button>

        </form>
        <a style="color: white; margin-top: 10px;" routerLink="/login" style="color: black;">Already registered? Click to login</a>
      </div>
    </div>
  </div>
</div>


<!-- <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">

  <p>
    <label for="firstname">First Name</label>
    <input type="text" name="firstname" ngModel>
  </p>

  <p>
    <label for="lastname">Last Name</label>
    <input type="text" name="lastname" ngModel>
  </p>

  <p>
    <label for="email">Email </label>
    <input type="text" id="email" name="email" ngModel>
  </p>

  <p>
    <label for="gender">Geneder</label>
    <input type="radio" value="male" name="gender" ngModel> Male
    <input type="radio" value="female" name="gender" ngModel> Female
  </p>

  <p>
    <label for="isMarried">Married</label>
    <input type="checkbox" name="isMarried" ngModel>
  </p>


  <p>
    <button type="submit">Submit</button>
  </p>

</form> -->
