
.carousel-item {
  height: 600px;
}

.item img {
  background-position:bottom;
}

iframe{
  margin-right: 35px;
}
.videos,.maps,.style-text{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.head{
  color:#08233E;
  text-align: center;
  font-weight: bold;
}
.style-text{
  width: 600px;
  text-align: center;
  margin: 0 auto;
  color: #A69999;
  font-size: 1rem;
}

@media only screen and (max-width: 1200px) {
  .carousel-item {
    height: 400px;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 769px) {
  .videos{
    width: 50%;
  }
  .carousel-item {
    height: 260px;
    margin-bottom: 2rem;
  }
}
